.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-auto-rows: minmax(5px, auto);
    grid-auto-columns: 20px;
    border-bottom: lightgray 1px solid
}
.container > div {
    border-left: lightgrey 1px solid;
    padding: 10px;
}

