.financial-container {
    display: grid;
    grid-template-columns:repeat(8, 10px);
    grid-auto-columns: 20px;
    border-bottom: lightgray 1px solid
}
.financial-container >div {
    border-left: lightgrey 1px solid;
    padding: 10px;
}
