.week-financial {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-auto-rows: minmax(30px, auto);
    grid-auto-columns: 20px;
    border-bottom: lightgray 1px solid;
    align-items: center;
    padding-bottom: 30px;
}
.week-financial > div {
    display: flex;
    border-left: lightgrey 1px solid;
}

.container{
    width:1850px;
    max-width:1850px; /* or whatever width you want. */
    display: inline-block;
}
