.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(5px, auto);
    border-bottom: lightgray 1px solid
}

.grid > div {
    padding: 10px;
    border: lightgrey 1px solid;
}

.product-name{
    width:216px;
}
.grid-cell{
}

.promo-graph{}

.draggable-item {
    background-color: red;
    text-align: center;
}
