.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(5px, auto);
    grid-auto-columns: minmax(200px, auto);
    border-bottom: lightgray 1px solid;
    width:100%;
}

.grid > div {
    border: lightgrey 1px solid;
}

.product-name{
    width: 250px;
    box-sizing: border-box;
}
.grid-cell{
    height: 30px;
    width: 200px;
    box-sizing: border-box;
}

.promo-graph{}

.draggable-item {
    background-color: red;
    text-align: center;
}
